version: '3'

services:

  postgres_korek:
    image: bitnami/postgresql:11
    environment:
      - POSTGRESQL_DATABASE=korek_db
    volumes:
      - 'pgdata:/var/lib/postgresql/data/'

  redis:
    image: 'bitnami/redis:4.0'
    environment:
      # ALLOW_EMPTY_PASSWORD is recommended only for development.
      - ALLOW_EMPTY_PASSWORD=yes
      - REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL
    ports:
      - '6379:6379'
    volumes:
      - 'redis_data:/bitnami/redis/data'

  web_socket:
    restart: always
    build: ./django-notifier
    environment:
      - DEBUG=True
    links:
      - postgres_korek
      - redis
    depends_on:
      - postgres_korek
      - redis
    ports:
      - "8000:8000"

  postgres_interface:
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=user@domain.com
      - PGADMIN_DEFAULT_PASSWORD=postgres
    links:
      - postgres_korek:postgres
    ports:
      - "5050:80"

  web_rest:
    restart: always
    build: ./django-rest-swagger
    environment:
      - DEBUG=True
      # PUBLIC PRIVATE PRIVATE-VALIDATION
      - PRIVACY_MODE=PRIVATE-VALIDATION
      - EMAIL_HOST=smtp.gmail.com
      - EMAIL_HOST_USER=xxxx.yyy@gmail.com
      - EMAIL_HOST_PASSWORD=changeme
    links:
      - postgres_korek
    depends_on:
      - postgres_korek
    volumes:
      - media:/code/myapp/app/media/


  nginx:
    build: ./nginx
    depends_on:
      - web_rest
    volumes:
      - media:/media/:ro
      - 'serverlog:/var/log/nginx/'
    ports:
      - "80:80"
      - "443:443"


volumes:
  pgdata: {}
  influxdata: {}
  serverlog: {}
  redis_data: {}
  media: {}