version: '3'

services:

  postgres_korek:
    build: ./database
    environment:
      - POSTGRES_DB=korek_db
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: 'bitnami/redis:5.0-debian-9'
    environment:
      # ALLOW_EMPTY_PASSWORD is recommended only for development.
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/bitnami/redis/data
    command: /run.sh --maxmemory 500mb

  web_socket:
    restart: always
    build: ./django-notifier
    environment:
      - DEBUG=True
    links:
      - postgres_korek
      - redis
    depends_on:
      - postgres_korek
      - redis
      - web_rest
    ports:
      - "8000:8000"

  web_rest:
    restart: always
    build: ./django-rest-swagger
    environment:
      - DEBUG=True
      # PUBLIC PRIVATE PRIVATE-VALIDATION
      - PRIVACY_MODE=PRIVATE-VALIDATION
      - EMAIL_HOST=smtp.gmail.com
      - EMAIL_HOST_USER=xxxx.yyy@gmail.com
      - EMAIL_HOST_PASSWORD=changeme
    links:
      - postgres_korek
    depends_on:
      - postgres_korek
    volumes:
      - media:/code/myapp/app/media/

  nginx:
    build: ./nginx
    depends_on:
      - web_socket
    volumes:
      - media:/media/:ro
      - ssl_cetificate:/etc/letsencrypt/
    ports:
      - "80:80"
      - "443:443"

volumes:
  pgdata: {}
  influxdata: {}
  redis_data: {}
  media: {}
  ssl_cetificate:  {}