# REST Api
Django==3.0.4
djangorestframework==3.11.0
djangorestframework_jwt==1.11.0
coreapi==2.3.3
openapi-codec==1.3.2
simplejson==3.17.0
django-filter==2.2
django-cors-headers==3.2.1
django-extensions==2.2.8

# PostGreSQL
psycopg2==2.8.4
# Multiple instances
gunicorn==20.0.4
# Static files
whitenoise==5.0.1


# Notification
channels==2.4.0
channels-redis==2.4.2