# REST Api
Django==2.2.10
djangorestframework==3.9.3
djangorestframework_jwt==1.11.0
coreapi==2.3.3
openapi-codec==1.3.2
simplejson==3.16.0
django-filter==2.2
django-cors-headers==3.0.2
# Debugger
django-extensions==2.2.1
Werkzeug==0.15.5
# File cleaner
django-cleanup==4.0.0
# Converts UTF8 media into ASCII
unidecode==1.1.1

# Auto comp.
ipdb==0.12

# Swagger
packaging==19.1
drf-yasg==1.16.1

# Docs
mkdocs==1.0.4

# Image
pillow==6.2.0
python-magic==0.4.15

# PostGreSQL
psycopg2==2.8.3
# Multiple instances
gunicorn==19.9.0
# Static files
whitenoise==4.1.3

# Notification
channels-redis==2.4.0

# Category
django-treebeard==4.3

# Tag
django-taggit==1.1.0
django-taggit-serializer==0.1.7

# Cache
django-redis==4.5.0