# REST Api
Django==2.1.4
djangorestframework==3.8.2
djangorestframework_jwt==1.11.0
coreapi==2.3.0
openapi-codec==1.3.1
simplejson==3.9.0
# Debugger
django-extensions==2.1.3
Werkzeug==0.14.1
# File cleaner
django-cleanup==2.1.0

# Multi Env Testing
tox==2.4.1
coverage==4.2
# Auto comp.
ipdb==0.10.1

# Swagger
django-rest-swagger==2.2.0

# Docs
mkdocs==0.15.3

# Image
pillow==5.2.0
python-magic==0.4.15

# PostGreSQL
psycopg2==2.7.3.2
# Multiple instances
gunicorn==19.7.0
# Static files
whitenoise==3.3.0

# Redis Database
django-redis==4.9.0